// Import Dependencies
@import "../cascade/scss/_cascade";
@import "_global";

// Note: Path to 'assets' folder is "../assets/"
//

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: Ness;
    src: url(../assets/Ness.woff2);
    src: url(../assets/Ness.eot);
    src: url(../assets/Ness.svg);
    src: url(../assets/Ness.ttf);
}

body {
	background: #000000;
}

[data-component="banner-content"] {
	// Container styles 

	background: #000000;
	background-image: url(../assets/stars.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	animation-duration: 5s;
	animation-name: bgMove;
	animation-iteration-count: once;
	animation-direction: alternate;
	opacity: 1;
	transition: 0.5s ease opacity;

	&.loading {
		opacity: 0;
	}

}

@keyframes rotateArm {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(8deg); }
}

@keyframes flyIn {
	0% {
		transform: rotate(45deg) scale(0);
		left: -30%;
		top: 300rem;
		opacity: 0;

	}

	50% {
		opacity: 1;
	}
  
  	99% {
 		transform: rotate(12deg) scale(1);
  	} 
}

@keyframes starGlow {
	0% {filter: blur(2px); opacity: 0.5; background: #fffce6;}
	100% {filter: blur(10px); opacity: 0.8; background: #ffffff;}
}

// @keyframes bgMove {
// 	0% {background-position: 0 150rem;opacity:0;}
// 	15% {opacity: 1;}
// 	100% {background-position: 0 0;}
// }

@keyframes subtleFloat {
	0% {margin-top: 0;}
	100% {margin-top: -1%;}
}

@keyframes biggerFloat {
	0% {margin-top: 0;}
	100% {margin-top: -10%;}
}

@keyframes scrollJiggle {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(5deg);}
}

@keyframes scrollJiggleTwo {
	0% {transform: rotate(0deg) translateX(-50%);}
	100% {transform: rotate(5deg) translateX(-50%);}
}

@keyframes garbageOne {
	0% {
		left: -10%;
		top: 50%;
		opacity: 1;
	}
	25% {
		
	}
	50% {
		
	}
	75% {
		opacity: 1;
	}
	100% {
		left: 50%;
		top: -10%;
		opacity: 0;
	}
}

@keyframes garbageTwo {
	0% {
		left: -10%;
		top: 100%;
		opacity: 1;
	}
	25% {
		
	}
	50% {
		
	}
	75% {
		opacity: 1;
	}
	100% {
		left: 25%;
		top: -10%;
		opacity: 0;
	}
}

@keyframes garbageThree {
	0% {
		left: 14%;
		top: -10%;
		opacity: 1;
	}
	25% {
		
	}
	50% {
		
	}
	75% {
		opacity: 1;
	}
	100% {
		top: 100%;
		left: 5%;
		opacity: 0;
	}
}

@keyframes garbageFour {
	0% {
		left: 70%;
		top: 110%;
		opacity: 1;
	}
	25% {
		
	}
	50% {

	}
	75% {
		opacity: 1;
	}
	100% {
		left: -10%;
		top: -10%;
		opacity: 0;
	}
}

@keyframes garbageFive {
	0% {
		left: -10%;
		bottom: -10%;
		opacity: 1;
	}
	25% {
		//left: 30%;
	}
	50% {
	}
	75% {
		opacity: 1;
	}
	100% {
		left: 100%;
		bottom: 100%;
		opacity: 0;
	}
}


@include flowlane(720) {

	.garbage {
		width: 30rem;
		position: absolute;
		opacity: 0;
		&.beercan {
			width: 20rem;
			animation-duration: 3s;
	  		animation-name: garbageOne;
	  		animation-iteration-count: once;
	  		animation-direction: alternate;
		}
		&.beercan2 {
			width: 20rem;
			animation-duration: 4.2s;
	  		animation-name: garbageTwo;
	  		animation-iteration-count: once;
	  		animation-direction: alternate;
		}
		&.can {
			animation-duration: 4.7s;
	  		animation-name: garbageThree;
	  		animation-iteration-count: once;
	  		animation-direction: alternate;
		}
		&.bottle {
			width: 60rem;
			animation-duration: 5s;
	  		animation-name: garbageFour;
	  		animation-iteration-count: once;
	  		animation-direction: alternate;
		}
		&.candy {
			width: 40rem;
			animation-duration: 5s;
	  		animation-name: garbageFive;
	  		animation-iteration-count: once;
	  		animation-direction: alternate;
		}
	}

	.star {
		width: 5rem;
		height: 5rem;
		background: #fffce6;
		position: absolute;
		border-radius: 50%;
		opacity: 0;
		filter: blur(2px);
		animation-duration: 3s;
	  	animation-name: starGlow;
	  	animation-iteration-count: infinite;
	  	animation-direction: alternate;
		&.one {
			top: 20%;
			left: 10%;
			animation-delay: 5.2s;
			animation-duration: 2s;
		}

		&.two {
			top: 25%;
			right: 12%;
			animation-delay: 6.8s;
			animation-duration: 2s;
		}

		&.three {
			bottom: 20%;
			left: 40%;
			width: 7rem;
			height: 7rem;
			animation-delay: 7.4s;
		}

		&.four {
			left: 33%;
			top: 8%;
			width: 8rem;
			height: 8rem;
			animation-delay: 8.9s;
			animation-duration: 3.8s;
		}
	}

	// .opening-animation {
	// 	.content-area {
	// 		top: 100%;
	// 	}
	// 	.title {
	// 		top: -100%;
	// 	}
	// 	.date-cta {
	// 		left: 200%;
	// 	}
	// 	.city {
	// 		bottom: -100%;
	// 	}

	// 	.horseman {
	// 		animation-duration: 5s;
	//   		animation-name: flyIn;
	//   		animation-iteration-count: once;
	//   		animation-direction: alternate;
	// 	}
	// }
	
	.wrapper {
		margin: 0 auto;
		height: 100%;
		width: 100%;
		min-width: 450rem;
		max-width: 1400rem;
		position: relative;

		.col {
			height: 100%;
			display: inline-block;
			float: left;
			position: relative;

			&.left, &.right {
				width: calc((100% - 630rem)/2);
				top: 0;
				@include breakpoint(1000) {
					width: calc((100% - 550rem)/2);
				}
			}

			&.middle {
				width: 630rem;
				top: 0;
				@include breakpoint(1000) {
					width: 550rem;
				}
				@include breakpoint(718) {
					width: 450rem;
					left: 50%;
					position: absolute;
					transform: translateX(-50%);
				}
			}

			&.left {
				@include breakpoint(718) {
					width: 450rem;
					position: absolute;
					left: calc((100% - 450rem)/2);
					bottom: 0 !important;
					height: 100%;
				}

				&.scroll-animation {
  					animation-duration: 0.35s;
  					animation-name: scrollJiggle;
  					animation-iteration-count: infinite;
  					animation-direction: alternate;

  					// @include breakpoint(718) {
  					// 	animation-name: scrollJiggleTwo;

  					// }
  				}
			}

			&.right {

			}
		}
	}


	.horseman {
		position: absolute;
		width: 350rem;
		height: auto;
		overflow: visible;
 		left: 50rem;
 		top: 25%;
  		transform: rotate(12deg);

  		@include breakpoint(1172) {
  			transform: rotate(4deg);
  			width: 300rem;
  			top: 28%;
  			left: 10%;
  		}

  		@include breakpoint(1100) {
  			transform: rotate(-4deg);
  			width: 285rem;
  			top: 30%;
  			left: 0;
  		}

  		@include breakpoint(1015) {
  			transform: rotate(-12deg);
  			width: 260rem;
  			top: 32%;
  			left: -20%;
  		}

  		@include breakpoint(1000) {
  			top: 25%;
  			left: -10%;
  		}

  		@include breakpoint(860) {
  			transform: rotate(-20deg);
  			width: 220rem;
  			top: 25%;
  			left: -35%;
  		}

  		@include breakpoint(718) {
  			left: 150rem;
  			top: 72%;
  			transform: rotate(0deg);
  			width: 180rem;
  		}

  		&.fast-animation {
  			.left-arm {animation-duration: 0.15s;}
  			.right-arm {animation-duration: 0.15s;}
  		}

  		&.transitions {
  			transition:1s ease transform, 0.5s ease width, 0.5s ease height, 0.5s ease top, 0.5s ease left, 0.3s ease margin-top;
  			animation-duration: 0.65s;
  			animation-name: subtleFloat;
  			animation-iteration-count: infinite;
  			animation-direction: alternate;

  			&.scrolling {
  				animation-name: biggerFloat;
  			}
  		}

	}

	.left-arm {
		position: absolute;
		width: 30%;
		left: 5%;
		margin-top: 8%;
		transform-origin: 100% 80%;
		animation-duration: 0.65s;
  		animation-name: rotateArm;
  		animation-iteration-count: infinite;
  		animation-direction: alternate;
	}

	.right-arm {
		position: absolute;
		width: 15%;
		left: 43%;
		margin-top: 1%;
		transform-origin: 0% 80%;
		animation-delay: 0.25s;
		animation-duration: 0.65s;
  		animation-name: rotateArm;
  		animation-iteration-count: infinite;
  		animation-direction: alternate;
	}

	.body {
		position: absolute;
		top: -2%;
		width: 80%;
	}

	.flask {
		width: 15%;
		position: absolute;
		margin-top: -30%;
		left: 5%;
		transform-origin: 0% 80%;
		animation-duration: 1.5s;
  		animation-name: rotateArm;
  		animation-iteration-count: infinite;
  		animation-direction: alternate;
  		box-shadow: 1px 1px rgb(0,0,0);
	}

	#horseman {
		&.noanimation {
			animation-name: none;

			> .flask, > .left-arm, > .right-arm {
				animation-name: none;
			}
		}
	}

	.video {
		width: 100%;
		padding-bottom: 56.25%;
		position: relative;
		height: 0;
		overflow: hidden;
		.video-player {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.content-area {
		width: 100%;
		position: absolute;
		top: 160rem;
		left: 50%;
		transform: translateX(-50%);
		// transition: 0.25s ease top;
		// transition-delay: 0.25s;
		@include breakpoint(1000) {
			top: 200rem;
		}
		// @include breakpoint(718) {
		// 	top: 165rem;
		// }
	}

	.city {
		width: 100%;
		position: fixed;
		bottom: 0;
		//transition: 0.25s ease bottom;

		@include breakpoint(1000) {
			width: 140%;
			right: -15%;
		}

		@include breakpoint(780) {
			width: 100%;
			right: 0;
		}
	}

	.navigation {
		color: white;
		text-align: center;
		width: 100%;
		font-family: Ness;
		font-size: 18rem;
		margin-top: 16rem;
		cursor: pointer;

		> span {
			&.active {
				color: #e5cb00;
				&:hover {
					color: #e5cb00;
				}
			}
			&:hover {
				color: #f3ebac;
			}
			&::after {
				content: "";
				display: inline-block;
				width: 8rem;
				height: 8rem;
				position: relative;
				top: -2rem;
				margin-left: 15rem;
				margin-right: 12rem;
				background: white;
				border-radius: 50%;
			}
			&:last-child {
				&::after {
					content: "";
					display: none;
				}
			}
		}

	

		@include breakpoint(1000) {
			display: table;
			> span {
				display: table-cell;
				vertical-align: middle;
				height: 45rem;
				width: 30%;
				// float: left;
				font-size: 20rem;
				text-align: center;
				padding-bottom: 15rem;
				&::after {
					content: "";
					display: none;
				}
				&:last-child, &:first-child {
					line-height: 2;
				}
				&:last-child {
					// text-align: right;
					width: 20%;
				}
				&:first-child {
					// text-align: left;
					width: 20%;
				}
			}
		}
	}

	.title {
		width: 90%;
		position: absolute;
		top: 15rem;
		left: 50%;
		transform: translateX(-50%);
		// transition: 0.25s ease top;

		@include breakpoint(1000) {
			width: 80%;
		}

		@include breakpoint(718) {
			width: 90%;
		}
	}

	.date-cta {
		width: 200rem;
		position: absolute;
		top: 276rem;
		left: 50%;
		transform: translateX(-50%);
		// transition: 0.25s ease left;
		// transition-delay: 0.5s;
		@include breakpoint(1160) {
			width: 160rem;
		}
		// @include breakpoint(1000) {
		// 	position: fixed;
		// 	top: 495rem;
		// }
		@include breakpoint(1000) {
			position: fixed;
			top: 125rem;
			width: 235rem;
			min-width: 375rem;
		}
	}

	.date {
		width: 100%;
		margin-bottom: 12rem;
		@include breakpoint(1000) {
			width: 180rem;
			float: left;
		}
	}

	.cta {
		//padding: 10rem 20rem;
		background-color: #ec2522;
		width: 200rem;
		height: 60rem;
		box-sizing: border-box;
		cursor: pointer;
		position: relative;
		// @include breakpoint(1160) {
		// 	//padding: 5rem 20rem;
		// }

		@include breakpoint(1160) {
			width: 160rem;
			height: 50rem;
		}
		@include breakpoint(1000) {
			width: 170rem;
			float: right;
			padding: 0;
			margin-left: 15rem;
			height: 55rem;
			position: relative;
		}

		.cta-svg {
			width: 160rem;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			@include breakpoint(1160) {
				width: 140rem;
			}

			@include breakpoint(1000) {
				width: 140rem;
			}
		}
		.watch-now {
			fill: #ffffff;
		}
		&:hover {
			background-color: #ffffff;
			.watch-now {
				fill: #ec2522;
			}
		}
	}

	.video-js {
	width: 100% !important;
	height: 100% !important;
	max-width: 100% !important;
	min-width: 100% !important;
	max-height: 100% !important;
	min-height: 100% !important;
	.vjs-control-bar {
		background-color:rgba(0,0,0,0.5);
		max-width: 100%;
		.vjs-progress-control {
			.vjs-slider {
				background-color: rgba(255,255,255,0.5);
			}
			.vjs-load-progress {
				background-color: #fff;
			}
			.vjs-play-progress {
				background-color: #e5cb00;
			}
		}
		.vjs-mute-control {
			display: block;
		}
	}
	.vjs-big-play-button {
		//width: 100rem;
		//height: 100rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 10em;
		padding: 0;
		border-radius: 50%;
		background-color: transparent;
		// &::before {
		// 	font-size: 100rem;
		// 	top: 0;
		// 	position: absolute;
		// 	left: 0;

		// }
	}
	.vjs-poster {
		background-size: cover;
	}
}


	
}