// Import Required Mixins
@import "mixins/_flowlane";
@import "mixins/_breakpoint";
@import "mixins/_contexts";

// Base Components

[data-component="banner-content"], [data-component="panel-content"] {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: #8bd0b2;
}

[data-exit] {
	cursor: pointer;
}

// Resets

* {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
    user-drag: none;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin:0;
	padding:0;
	border:0;
	font:inherit;
	vertical-align:baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display:block
}
body {
	line-height:1
}
ol,
ul {
	list-style:none
}
blockquote,
q {
	quotes:none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
	content:"";
	content:none
}
table {
	border-collapse:collapse;
	border-spacing:0
}
html,
body {
	min-height:100%;
	height:100%;
	overflow:hidden;
	margin:0;
	padding:0;
}
body {
	font-size:16rem;
}

