@mixin breakpoint($width, $minmax: max) {
	$selector: #{&};
	$start: str-index($selector, "'") + 1;
	$end: str-index($selector, "]") - 2;
	$fl-height: str-slice($selector, $start, $end);
	@media screen and (#{$minmax}-aspect-ratio: #{$width}/#{$fl-height}) {
		@content;
	}
}