@mixin context($name, $value: true, $compare: "equal") {
	@if $value == true {
		$attr: "[data-#{$name}]";
		@at-root #{$attr}#{&} {
			@content;
		}
	} @else {
		@if $compare == "equal" {
			
			$attr: "[data-#{$name}='#{$value}']";
			@at-root #{$attr}#{&} {
				@content;
			}

		} @else if $compare == "greater" {

			$attr: "[data-#{$name}][data-attrMatch~='(#{$name} > #{$value})']";
			@at-root #{$attr}#{&} {
				@content;
			}

		} @else if $compare == "less" {

			$attr: "[data-#{$name}][data-attrMatch~='(#{$name} < #{$value})']";
			@at-root #{$attr}#{&} {
				@content;
			}

		} @else if $compare == "equal-or-greater" {

			$attr: "[data-#{$name}][data-attrMatch~='(#{$name} >= #{$value})']";
			@at-root #{$attr}#{&} {
				@content;
			}

		} @else if $compare == "equal-or-less" {

			$attr: "[data-#{$name}][data-attrMatch~='(#{$name} <= #{$value})']";
			@at-root #{$attr}#{&} {
				@content;
			}

		} @else if $compare == "contains" {
			
			$attr: "[data-#{$name}*='#{$value}']";
			@at-root #{$attr}#{&} {
				@content;
			}

		} @else if $compare == "contains-word" {
			
			$attr: "[data-#{$name}~='#{$value}']";
			@at-root #{$attr}#{&} {
				@content;
			}

		} @else if $compare == "begins-with" {
			
			$attr: "[data-#{$name}^='#{$value}']";
			@at-root #{$attr}#{&} {
				@content;
			}

		} @else if $compare == "ends-with" {
			
			$attr: "[data-#{$name}$='#{$value}']";
			@at-root #{$attr}#{&} {
				@content;
			}

		}
	}
}