<!-- Note: Path to 'assets' folder is "../assets/" -->
<!-- ************ -->
<div id="container" data-component="banner-content" class="loading">
    
    <!-- Add HTML for ad, full HTML structure handled on save -->
    <img data-name="Cityscape" id="city" class="city" src="../assets/city.png" data-exit="Exit: Cityscape"/>
    
    <img class="garbage beercan" src="../assets/beercan.png"/>
    <img class="garbage beercan2" src="../assets/beercan2.png"/>
    <img class="garbage can" src="../assets/can.png"/>
    <img class="garbage bottle" src="../assets/bottle.png"/>
    <img class="garbage candy" src="../assets/candy.png"/>

    
    
    <div class="wrapper">

    	<div id="leftColumn" class="col left">
    		<div data-name="Horseman" id="horseman" class="horseman" data-exit="Exit: Horseman">
    			<img class="flask" src="../assets/flask.png"/>
		   		<img class="left-arm" src="../assets/bojack_left_arm.png"/>
		   		<img class="right-arm" src="../assets/bojack_right_arm.png"/>
		   		<img class="body" src="../assets/bojack.png"/>
		   	</div>
    	</div>

    	<div id="middleColumn" class="col middle">
    		<img data-name="Title" id="title" class="title" src="../assets/logo.png" data-exit="Exit: Title"/>
    		<div id="content" class="content-area">
			   	<div class="video" data-stop-prop>
			   		<div id="playerContainer" class="video-player" data-current-video="1">
			   			<!-- Video Player -->
			   			<video data-setup='{ "controls": true, "autoplay": false, "preload": false }' id="videoPlayer" controls class="video-js" poster="../assets/poster.jpg">
						  <source src="https://player.vimeo.com/external/134915564.hd.mp4?s=066f6612a6d7572fbfe1a238882e3790&profile_id=113" type="video/mp4">
						</video>
						<!-- Video Player -->
			   		</div>
			   	</div>
			   	<div class="navigation" data-stop-prop>
			   		<span data-name="Nav: Video1" id="video1" class="active">Trailer</span> 
			   		<span data-name="Nav: Video2" id="video2">Meet Vincent Adult Man</span>
			   		<span data-name="Nav: Video3" id="video3">What Are You Doing Here?</span>
			   		<span data-name="Nav: Video4" id="video4">Wake Up</span>
			   	</div>
			</div>
    	</div>

    	<div id="rightColumn" class="col right">
    		<div id="cta" class="date-cta">
				<img data-name="Date" class="date" src="../assets/date.png" data-exit="Exit: Date"/>
				<div data-name="Call To Action" class="cta" data-exit="Exit: CTA">
					<svg class="cta-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="316" height="32" viewBox="0 0 316 32"><path class="watch-now" d="M305.121 32.1 C305.121 32.1 295.9 27.6 295.9 27.6 C295.936 27.6 304.7 16 304.7 16 C304.651 16 295.9 4.6 295.9 4.6 C295.936 4.6 305.1 -0 305.1 -0 C305.121 -0 315.8 14.4 315.8 14.4 C315.847 14.4 315.8 17.7 315.8 17.7 C315.847 17.7 305.1 32.1 305.1 32.1 ZM255.516 31.3 C255.516 31.3 249.9 15.3 249.9 15.3 C249.943 15.3 244.4 31.3 244.4 31.3 C244.410 31.3 237.7 31.3 237.7 31.3 C237.730 31.3 228.5 3.3 228.5 3.3 C228.482 3.3 236.6 3.3 236.6 3.3 C236.584 3.3 241.4 19.4 241.4 19.4 C241.406 19.4 246.7 3.2 246.7 3.2 C246.742 3.2 253.3 3.2 253.3 3.2 C253.343 3.2 258.7 19.4 258.7 19.4 C258.678 19.4 263.5 3.3 263.5 3.3 C263.500 3.3 271.4 3.3 271.4 3.3 C271.445 3.3 262.2 31.3 262.2 31.3 C262.196 31.3 255.5 31.3 255.5 31.3 ZM212.648 31.7 C204.111 31.7 197.8 25.3 197.8 17.3 C197.787 17.3 197.8 17.2 197.8 17.2 C197.787 9.2 204.2 2.8 212.7 2.8 C221.265 2.8 227.6 9.2 227.6 17.2 C227.589 17.2 227.6 17.2 227.6 17.2 C227.589 25.2 221.2 31.7 212.6 31.7 ZM219.763 17.2 C219.763 13.2 216.9 9.7 212.6 9.7 C208.459 9.7 205.7 13.1 205.7 17.2 C205.653 17.2 205.7 17.2 205.7 17.2 C205.653 21.2 208.5 24.7 212.7 24.7 C216.957 24.7 219.8 21.3 219.8 17.3 C219.763 17.3 219.8 17.2 219.8 17.2 ZM174.990 15.9 C174.990 15.9 175 31.1 175 31.1 C174.990 31.1 167.4 31.1 167.4 31.1 C167.401 31.1 167.4 3.3 167.4 3.3 C167.401 3.3 174.6 3.3 174.6 3.3 C174.555 3.3 185.9 18 185.9 18 C185.938 18 185.9 3.3 185.9 3.3 C185.938 3.3 193.5 3.3 193.5 3.3 C193.527 3.3 193.5 31.1 193.5 31.1 C193.527 31.1 186.8 31.1 186.8 31.1 C186.808 31.1 175 15.9 175 15.9 ZM143.890 20.6 C143.890 20.6 134 20.6 134 20.6 C134.049 20.6 134 31.1 134 31.1 C134.049 31.1 126.4 31.1 126.4 31.1 C126.381 31.1 126.4 3.3 126.4 3.3 C126.381 3.3 134 3.3 134 3.3 C134.049 3.3 134 13.7 134 13.7 C134.049 13.7 143.9 13.7 143.9 13.7 C143.890 13.7 143.9 3.3 143.9 3.3 C143.890 3.3 151.6 3.3 151.6 3.3 C151.558 3.3 151.6 31.1 151.6 31.1 C151.558 31.1 143.9 31.1 143.9 31.1 C143.890 31.1 143.9 20.6 143.9 20.6 ZM110.907 24.7 C113.792 24.7 115.5 23.3 117.2 21.3 C117.152 21.3 122.9 25.4 122.9 25.4 C120.314 29 116.8 31.7 110.7 31.7 C102.765 31.7 96.4 25.6 96.4 17.3 C96.402 17.3 96.4 17.2 96.4 17.2 C96.402 9.1 102.6 2.8 111 2.8 C116.638 2.8 120.3 5.2 122.7 8.6 C122.725 8.6 117 13.1 117 13.1 C115.373 11.1 113.6 9.8 110.9 9.8 C107.034 9.8 104.3 13.1 104.3 17.2 C104.306 17.2 104.3 17.2 104.3 17.2 C104.306 21.4 107 24.7 110.9 24.7 ZM86.200 31.1 C86.200 31.1 78.5 31.1 78.5 31.1 C78.532 31.1 78.5 10.1 78.5 10.1 C78.532 10.1 70.2 10.1 70.2 10.1 C70.232 10.1 70.2 3.3 70.2 3.3 C70.232 3.3 94.5 3.3 94.5 3.3 C94.500 3.3 94.5 10.1 94.5 10.1 C94.500 10.1 86.2 10.1 86.2 10.1 C86.200 10.1 86.2 31.1 86.2 31.1 ZM64.129 31.1 C64.129 31.1 62.1 26.2 62.1 26.2 C62.114 26.2 51.4 26.2 51.4 26.2 C51.442 26.2 49.5 31.1 49.5 31.1 C49.466 31.1 41.4 31.1 41.4 31.1 C41.403 31.1 53.2 3.1 53.2 3.1 C53.181 3.1 60.6 3.1 60.6 3.1 C60.572 3.1 72.3 31.1 72.3 31.1 C72.350 31.1 64.1 31.1 64.1 31.1 ZM56.817 12.3 C56.817 12.3 53.7 20.2 53.7 20.2 C53.695 20.2 59.9 20.2 59.9 20.2 C59.900 20.2 56.8 12.3 56.8 12.3 ZM27.021 31.3 C27.021 31.3 21.4 15.3 21.4 15.3 C21.449 15.3 15.9 31.3 15.9 31.3 C15.915 31.3 9.2 31.3 9.2 31.3 C9.235 31.3 -0 3.3 -0 3.3 C-0.013 3.3 8.1 3.3 8.1 3.3 C8.089 3.3 12.9 19.4 12.9 19.4 C12.911 19.4 18.2 3.2 18.2 3.2 C18.247 3.2 24.8 3.2 24.8 3.2 C24.848 3.2 30.2 19.4 30.2 19.4 C30.183 19.4 35 3.3 35 3.3 C35.005 3.3 43 3.3 43 3.3 C42.950 3.3 33.7 31.3 33.7 31.3 C33.701 31.3 27 31.3 27 31.3 Z" class="style0"/></svg>
				</div>
			</div>
    	</div>

	</div>

</div>