<!-- Note: Path to 'assets' folder is "../assets/" -->
<!-- ************ -->
<div data-component="panel-content">
    
    <!-- Add HTML for ad, full HTML structure handled on save -->
    <p>Hello, world.</p>

</div>
